<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="swaglabs Parallel Test Suite" verbose="2" parallel="classes" thread-count="5">
    <test name="Cucumber Parallel Test" >
        <classes>
            <class name="MyTestRunners.TestRunner"/>
        </classes> 	
    </test> <!-- Test -->
</suite> <!-- Suite -->